@import url('/Views/common/css/base/reset.css');
@import url('/Views/common/css/base/root.css');
@import url('/Views/common/css/header/header.css');
@import url('/Views/common/css/breadcrumb/breadcrumb.css');
@import url('/Views/common/css/footer/footer.css');

.body {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

.max-width-20 {
    width: 20%;


    border-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(221,221,221,1);

}

.max-width-80 {
    width: 80%;


    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(221,221,221,1);
}

.module-filter {
    padding: 20px 20px 0 0;
}

.module-title {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 18px 0 8px 0;
}

.module-title span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.reset-btn {
    background-color: #0f3a8d;
    color: var(--text-white-color);
    font-size: 1.2rem;
    padding: 0 5px;
    border-radius: 999px;
}

.reset-btn:hover {
    box-shadow: 0 5px 30px -5px rgb(0 0 0 / 25%);
    background: rgba(15, 69, 172, 1);
}

/* .module-item {
    
} */

.panel-group {
    display: flex;
    flex-direction: column;
}

.panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.panel-heading:hover .panel-title {
    color: var(--header-bar);
}

.panel-title {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}

.arrow-down {
    cursor: pointer;
    font-size: 1rem;
    color: var(--tag-sale);
}

.panel-collapse {
    padding-top: 15px;
}

.form-check-input {
    cursor: pointer;
    font-size: 1.3rem !important;
    border: 1px solid var(--text-color);
    margin-top: 6px;
}

.form-check-label {
    cursor: pointer;
    font-size: 1.4rem !important;
    color: var(--text-color);
}


/* COntent */

.content {
    padding: 20px 0 50px 20px;
}

.page-title {
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.8rem;
    margin: 10px 0 20px 0;
}

/* Category desc */
.category-desc {
    margin-bottom: 20px;
}

.category-image {
    width: 100%;
}

/* Content top */

.content-top {
    padding-bottom: 30px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33.3333%;
    padding: 20px;
}

.list-group-item i {
    font-size: 2.4rem;
    color: #1e2e4e;
    margin-bottom: 10px;
}

.list-group-item span {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Main Products wrapper */
.products-filter {
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221,221,221,1);
}

.select-group {
    display: flex;
    justify-content: end;
}

.sort-by {
    display: inline-flex;
    align-items: center;
}

.sort-by label {
    height: 26px;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
    background-color: rgba(221,221,221,1);
    padding: 0 8px;
}

.sort-by select {
    height: 26px;
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 1px solid rgba(221, 221, 221, 1);
}

/* Main product - product layout */

.product-layout {
    position: relative;
    border: 1px solid rgba(221, 221, 221, 1);
    padding-bottom: 10px;
}

.product-image {
    object-fit: cover;
    cursor: pointer;
}

.product-caption {
    display: flex;
    flex-direction: column;
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(247, 245, 245, 0.7);
    padding: 5px;
}

.brand-title {
    color: var(--text-brand);
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 0 5px;
    cursor: pointer;
}

.brand-title:hover {
    color: var(--header-bar);
    text-decoration: none;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    margin-right: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
}

.name a {
    font-size: 1.3rem;
    color: var(--text-name);
}

.price {
    text-align: center;
}

.price-new {
    margin-left: 7px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--tag-sale);
}

.price-old {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-brand);
    text-decoration: line-through;
}

.tag {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
}

.tag-new {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-white-color);
    background-color: var(--header-bar);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.tag-discount {
    font-size: 1.2rem;
    color: var(--text-white-color);
    background-color: var(--tag-sale);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------  */
.title-wrapper {
    margin-bottom: 20px;
}

.title-wrapper h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-name);
}

.product-layout {
    position: relative;
    border: 1px solid rgba(221, 221, 221, 1);
    padding-bottom: 10px;
}

.product-image {
    object-fit: cover;
    cursor: pointer;
}

.product-caption {
    display: flex;
    flex-direction: column;
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(247, 245, 245, 0.7);
    padding: 5px;
}

.brand-title {
    color: var(--text-brand);
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 0 5px;
    cursor: pointer;
}

.brand-title:hover {
    color: var(--header-bar);
    text-decoration: none;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    margin-right: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
}

.name a {
    font-size: 1.3rem;
    color: var(--text-name);
}

.price {
    text-align: center;
}

.price-new {
    margin-left: 7px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--tag-sale);
}

.price-old {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-brand);
    text-decoration: line-through;
}

.tag {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
}

.tag-new {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-white-color);
    background-color: var(--header-bar);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.tag-discount {
    font-size: 1.2rem;
    color: var(--text-white-color);
    background-color: var(--tag-sale);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}







