@import url('/Views/common/css/base/root.css');

.col-2-3 {
    flex: 0 0 auto;
    width: 19.4444%;
}

.footer {
    background: rgba(15, 48, 87, 1);
    color: var(--text-white-color);
    border-bottom: 1.5px solid rgba(1, 87, 106, 1);
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.title-module {
    padding-top: 20px;
}

.title-register {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.title-module p {
    font-size: 1.3rem;
}

.newsletter-form {
    padding: 20px 0 0 80px;
}

.newsletter-form .form-control {
    border-radius: 0 !important;
}

.newsletter-email {
    height: 43px;
    padding: 6px 12px;
    font-size: 1.3rem;
}

.btn-register {
    margin: 0 !important;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--text-red) !important;
}

.btn-register i {
    margin-right: 5px;
}

.newsletter-form .form-check {
    display: flex;
    align-items: center;
}

.newsletter-form .form-check-input {
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin-top: 0;
    margin-right: 10px;
}

.newsletter-form .form-check-label {
    font-size: 1.3rem;
    color: var(--text-white-color);
}

.newsletter-form .form-check-label span {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
}

.block-address h3 {
    margin-bottom: 15px;
}

.block-header {
    display: flex;
    font-size: 1.4rem;
}

.block-header img {
    height: 90px;
    width: 90px;
    margin: 5px 10px 0 0;
}

.block-header p {
    margin: 0;
}

.block-wrapper {
    display: flex;
    flex-direction: column;
}

.about-us h3 {
    margin-bottom: 15px;
}

.about-us ul li a {
    font-size: 1.3rem;
}

.certificate {
    text-align: center;
}

.certificate-img img:nth-child(1) {
    margin-bottom: 15px;
}

.certificate-img img:nth-child(2) {
    margin-top: 20px;
}

.footer-wrapper:nth-child(3) {
    padding: 10px 0;
}

.copyright {
    font-size: 1.4rem;
}