@import url('/Views/common/css/base/reset.css');
@import url('/Views/common/css/base/root.css');
@import url('/Views/common/css/header/header.css');
@import url('/Views/common/css/breadcrumb/breadcrumb.css');
@import url('/Views/common/css/footer/footer.css');

.body {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
}